<a href="https://colab.research.google.com/github/18K41A0-523/ASSIGNMENT-1/blob/master/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



1.	Develop a code for below scenario

In [1]:
year=int(input())
if year%12==0:
  print("monkey")
elif year%12==1:
  print("Rooster")
elif year%12==2:
  print("Dog")  
elif year%12==3:
  print("Pig")  
elif year%12==4:
  print("rat")  
elif year%12==5:
  print("ox")  
elif year%12==6:
  print("tiger")  
elif year%12==7:
  print("rabbit")  
elif year%12==8:
  print("dragon")  
elif year%12==9:
  print("snake")  
elif year%12==10:
  print("horse")  
else:
  print("sheep")

2012
dragon


2.	A Quick Fox Transport Co. wants to develop an application for calculating amount based on distance and weight of goods. The charges (Amount) to be calculated as per rates given below. 
 
Input:  Distance to be travel: 520     
Weight of the goods: 50 
Output: Amount to be charged: 3120 /-

In [ ]:
print("enter distance to be travelled",end=" ")
d=int(input())
print("enter weight of goods",end=" ")
w=int(input())
if(d>=500):
    if(w>=100):
        c=5
    elif(w>=10 and w<100):
        c=6
    else:
        c=7
else:
    if(w>=100):
        c=8
    else:
        c=5
print(f'amount to be charged : {d*c}')

enter distance to be travelled 520
enter weight of goods 50
amount to be charged : 3120


3.	The Entertainment Paradise

 A theater in Delhi wants to develop a computerized Booking System. The theater offers different types of seats. The Ticket rates are- Stalls- Rs. 625/-, Circle- Rs.750/-, Upper Class- Rs.850/- and Box- Rs.1000/-. A discount is given 10% of total amount if tickets are purchased on Cash. In case of credit card holders 5% discount is given. 
Input: 	Type of Seat: Circle    
Payment mode: cash
Output: Cost of ticket: 675

In [ ]:
a=["Stalls","Circle","UpperClass","box"]
s=input("Type of seat:")
pm=input("Payment mode:")
c="cash"
if pm==c:
  if s in a[0]:
    discount=625*(0.1)
    b=625-discount
  elif s in a[1]:
    discount=750*(0.1)
    b=750-discount
  elif s in a[2]:
    discount=850*(0.1)
    b=850-discount
  else:
    discount=1000*(0.1)
    b=1000-discount
else:
  if s in a[0]:
    discount=625*(0.05)
    b=625-discount
  elif s in a[1]:
    discount=750*(0.05)
    b=750-discount
  elif s in a[2]:
    discount=850*(0.05)
    b=850-discout
  else:
    discount=1000*(0.05)
    b=1000-discount
print('total cost:')
print(int(b))

Type of seat:Circle
Payment mode:cash
total cost:
675

4.	Develop a program that calculates the energy needed to heat water from an initial temperature to a final temperature. Your program should prompt the user to enter the amount of water in kilograms and the initial and final temperatures of the water. The formula to compute the energy is 
Q = M * (finalTemperature – initialTemperature) * 4184.
where M is the weight of water in kilograms, temperatures are in degrees Celsius,  and energy Q is measured in joules. (L6)

In [ ]:
M=int(input("Enter Amount of water:"))
Q=M*(100-0)*4184
print(Q)

Enter Amount of water:12
5020800

5.	Develop a program that prompts user to enter month and  print 
a.	“Winter ” -   December ,January and February
b.	“Spring”  -   March ,April and May
c.	“Summer”  --- June ,July, August
d.	“Autumn ”  -- September ,October, November

In [ ]:
month=input("Enter the month:")
winter=["December","January","February"]
spring=["March","April","May"]
summer=["June","July","August"]
autum=["September","October","november"]
if month in winter:
  print("Winter")
if month in spring:
  print("Spring")
elif month in summer:
  print("Summer")
elif month in autum:
  print("Autumn")

Enter the month:December
Winter

6.	Body Mass Index

In [ ]:
weight=float(input("Enter the weight:"))
height=float(input("Enter the height:"))
s=weight/(height**2)
if s<18.5:
  print("Underweight")
elif s>=18.5 and s<25.0:
  print("normal")
elif s>=25.0 and s<30.0:
  print("Overweight")
else:
  print("Obese") 
print("BMI is:",s)

Enter the weight:30
Enter the height:30
Underweight
BMI is: 0.03333333333333333

7.	Write a program that reads an integer between 100 and 1000 and adds all the digits in the integer 	(	ex: input 745 	# output =16	(7+4+5)	)

In [ ]:
number=int(input("Enter number between 100 and 1000:"))
remainder=0
sumdigit=0
if(number>=100 and number<=1000):
    while number > 0:
      remainder=number%10
      sumdigit=sumdigit+remainder
      number=number//10
print(sumdigit)

Enter number between 100 and 1000:745
16

8.	Print all palindrome numbers between 1 to 1000.

In [ ]:
for number in range(1,1001):
  temp=number
  rev=0
  if(number>=100 and number<=1000):
    while temp > 0:
      rem=temp%10
      rev=(rev*10)+rem
      temp=temp//10
    if number==rev:  
      print(number ,end=" ")

101 111 121 131 141 151 161 171 181 191 202 212 222 232 242 252 262 272 282 292 303 313 323 333 343 353 363 373 383 393 404 414 424 434 444 454 464 474 484 494 505 515 525 535 545 555 565 575 585 595 606 616 626 636 646 656 666 676 686 696 707 717 727 737 747 757 767 777 787 797 808 818 828 838 848 858 868 878 888 898 909 919 929 939 949 959 969 979 989 999

9.	Print all Armstrong numbers between 1 to 1000.

In [ ]:
for number in range(1,1001):
  sum=0
  temp=number
  while temp > 0 :
    digit=temp%10
    sum+=digit**3
    temp//=10
    if number==sum:
        print(number ,end=" ")

1 64 125 153 216 370 371 407 729

10.	Write a Java program which iterates the integers from 1 to 100. For multiples of three print "Fizz" instead of the number and print "Buzz" for the multiples of five. When number is divided by both three and five, print "fizz buzz".

In [ ]:
for i in range(1,101):
  if i%3==0 and i%5==0:
    print("Fizz buzz")
  elif i%5==0:
    print("buzz")
  elif i%3==0:
    print("fizz")
  else:
    print(i)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
Fizz buzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
Fizz buzz
31
32
fizz
34
buzz
fizz
37
38
fizz
buzz
41
fizz
43
44
Fizz buzz
46
47
fizz
49
buzz
fizz
52
53
fizz
buzz
56
fizz
58
59
Fizz buzz
61
62
fizz
64
buzz
fizz
67
68
fizz
buzz
71
fizz
73
74
Fizz buzz
76
77
fizz
79
buzz
fizz
82
83
fizz
buzz
86
fizz
88
89
Fizz buzz
91
92
fizz
94
buzz
fizz
97
98
fizz
buzz

11.	Spider Problem: A spider present at the bottom of the well of height H, needs to get out of it, using the slippery wall of the well. It decides to climb up the well; it goes up U meters and slips down D meters in one single step. So, in each step it covers (U-D) meters, and if the spider gets out of the well by covering U meters in the last step it doesn’t a slip back. For example, if the spider climbs up 5 meters and slips down by 3 meters in a single step, it covers (U - D) m in each step and 96 m in 48 steps, but in the 49th step it climbs up 5 m and reaches out of the well and it will not slip down and the step is counted as one step.     
Input: Each test case will contain 3 integers ’H’ height of the well, next ’U’ meters climbs up in each step, and the last ’D’ meters slips down in each step.
Output:  The number of steps 'N' required to get out of the well.
Example 1:
 	Input:						Ouput 
	200 50 1					    5
	Example 2:
 	Input:						Output
	500 20 15					   98

In [ ]:
H=int(input("H:"))
U=int(input("U:"))
D=int(input("D:"))
N=0
while (U-D)*N <=(H-U):
    N=N+1
print(N+1)

H:200
U:50
D:1
5